.navbar-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 10vh;
  background-color: white;
  position: fixed;
  z-index: 10;
  .nav-img {
    .nav-img-item {
      width: 7vh;
      margin-left: 5rem;
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto 1rem;
    text-decoration: none;
    color: black;
    .nav-link-item {
      font-size: 2rem;
      font-weight: 300;
    }
  }
  .cartdd-container {
    position: absolute;
  }
}
