.cart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  .cart-svg {
    width: 35px;
    height: 35px;
    position: absolute;
  }
  .cart-quantity {
    margin: unset;
    margin-top: 5px;
  }
}
