.cart-items-container {
  a {
    align-self: center;
    width: 80%;

    .cart-btn {
      width: 100%;
      margin: 1rem auto;
      border: none;
      outline: 2px black solid;
      outline-offset: 2px;
      border-radius: 10px;
      background-color: black;
      color: white;
      height: 5vh;
      font-size: 1.3rem;
      font-weight: 300;
      transition: 0.3s;
      &:hover {
        background-color: white;
        color: black;
        border-color: black;
        outline-offset: 0;
      }
    }
  }
  position: absolute;
  background-color: white;
  width: 30vh;
  bottom: -53vh;
  right: 10%;
  z-index: 999;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  .cart-items {
    height: 40vh;
    overflow: scroll;
  }
}

.show-dd {
  display: flex;
}
